<%= render 'seller_header' %>

<!-- Property details -->
<div class="container steps-page">
  <div class="sell-heading">
    <h2>Sell Your Home</h2>
  </div>
  <div class="property-details">
    <div class="col-md-8 col-sm-8 col-xs-12 pd-left mob-pad-right">
      <div class="steps-slider">
        <ul>
          <li class="active"><a href="javascript:void(0)">1</a></li>
          <li class="active"><a href="javascript:void(0)">2</a></li>
          <li class="active"><a href="javascript:void(0)">3</a></li>
          <li class="active"><a href="javascript:void(0)">4</a></li>
          <li class="active"><a href="javascript:void(0)">5</a></li>
          <li class="active"><a href="javascript:void(0)">6</a></li>
          <li class="active"><a href="javascript:void(0)">7</a></li>
          <li class="active"><a href="javascript:void(0)">8</a></li>
        </ul>
      </div>
      <div class="thank-img">
        <%= image_tag "thankyou-img.png" %>
      </div>
      <div class="thank-txt">
        <p>Your Listing Has Been Sent To The MLS And Other Sydication Networks</p>
      </div>
      <div class="seller-btn">
        <%= link_to "Start Seller Documents", "#" %>
      </div>
    </div>
  </div>

  <!-- Enquiry Form -->
  <%= render 'home/search_form' %>
</div> <!-- container -->