<!-- Header-bg -->
<div class="header-bg steps-header">
  <p>Sell Your Home</p>
</div>

<!-- Property details -->
<div class="container steps-page">
  <div class="sell-heading">
    <h2>Sell Your Home</h2>
  </div>
  
  <div class="property-details">
    <div class="col-md-8 col-sm-8 col-xs-12 pd-left mob-pad-right">
      <div class="steps-slider">
        <ul>
          <li class="active"><a href="">1</a></li>
          <li class="active"><a href="">2</a></li>
          <li class="active"><a href="">3</a></li>
          <li class="active"><a href="">4</a></li>
          <li class="active"><a href="">5</a></li>
          <li class="active"><a href="">6</a></li>
          <li><a href="">7</a></li>
          <li><a href="">8</a></li>
        </ul>
      </div>
      <div class="create-profile">
        <h3>Select Your Title Company</h3>
        <%= form_tag("#{wizard_path}", method: :patch, class: 'property-from')  do %>
          <%= select_tag :title_company, options_for_select(Property::Title_company), prompt:'Select Title Company', class: 'form-control' %>
          
          <div class="continue green-cont">
            <%= submit_tag "Continue", class: 'continue-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Enquiry Form -->
  <%= render 'home/search_form' %>
  </div>
</div> <!-- container -->