<div class="col-md-4 col-sm-4 col-xs-12 pd-right">
  <div class="enquiry-form">

    <h4>Inquire Now</h4>
    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox"> I Want to see this property
        </label>
      </div>
      
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input type="text" class="form-control" placeholder="Enter Email Address">
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="form-group">
        <label>Message</label>
        <input type="text" class="form-control" placeholder="Message">
      </div>
      <div class="send-btn">
        <a href="">SEND MESSAGE</a>
      </div>
    </form>
  </div>
</div>