<div role="tabpanel" class="tab-pane" id="financial-details">
  <% (0..3).each do |n| %>
    <div class="col-md-6 col-sm-6">
      <div class="features">
        <span><b>Country: </b>Douglas</span>
      </div>
    </div>
  <% end %>
</div>