html body{
  font-family: 'Lato', sans-serif;
}
header {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
.full-width {
  width: 1170px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}
.navigation ul li.active a{
  color: #97b313 !important;
  background-color: inherit !important;
}
.nav.navbar-nav {
  display: inline-block;
  float: right;
}
.navigation ul li  a {
  font-size: 18px;
  position: relative;
}
.navigation ul li.active  a::before {
  position: absolute;background:#97b313;
  height: 5px;
  width: 70%;
  bottom: 0;
  content: "";
}
.navbar-default {
  border: none;
  background-color: inherit;
}
.navbar {
  position: inherit;
  min-height: inherit;
  margin-bottom: 0px;

}
.banner-images {
  position: relative;
  margin-top: -5px;
}
.banner-images img {
  width: 100%;
}
.login .fa-user {
  margin-right: 10px;
}
.slider-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 130px; 
  font-size: 42px;
  color: #fff;
  left: 0px;  
  padding: 0px 110px;
  font-weight: bold;

}
.banner-images .detail-form {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%
}
.form-margin {
  display: flex;
  justify-content: center;
}


.detail-form .form-bg-color{
  background: rgba(3,13,16,0.8);
  display: inline-block;  
  width: 100%;
  margin: 0 111px;
}
.form-group label {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}
.form-bg-color form{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}
.form-bg-color .form-heading {   
  background-image: url(../assets/bg-img.png);
  background-position: left top;
  background-repeat: no-repeat;
}
.form-bg-color .form-heading p {
  font-size: 16px;
  padding: 0 15px;
  font-weight: bold;
  color: #fff;
  height: 45px;
  padding-top: 10px;

}
.expensive button, .sort-by button {
  width: 337px;
  text-align: left;
}
.form-group button, .form-group input {
  background-color: #e6e6e6;
  border-radius: 0px;
}
.form-group input {
  border: 0px;
}

.second-fields button, .second-fields input {
  width: 100%;
}
.search-property-btn {  
  padding: 17px 10px;    
  border: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #92ad12;
  border-radius: 0px;
}
.search-property-btn:hover, .search-property-btn:focus, .search-property-btn:active, .btn-default:active  {
  background-color: #92ad12;
  color: #fff;
}
.slider-section, .property-section {
  margin-bottom: 80px;
}

.property-section ul  {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
}

.property-section ul li {

  display: inline-block;
  float: left;
  width: 29%;
  margin: 0 24px;
}

.property-section ul li:nth-child(1) {
  margin-left: 0px;
  margin-right: 47px;
}

.property-section ul li:nth-child(3) {
  margin-right: 0px;
  margin-left: 47px;
}

.property-image img {
  max-width: 100%;
}

.property-image {
  position: relative;
}
.property-head {
  position: absolute;
  bottom: 0px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(146, 173,18, 0.7);
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 10px;
  margin-bottom: 0px; 
}
.property-detail  {
  border: 1px solid #a8a8a8;
  border-top: 0px;
  min-height: 130px;
}
.property-detail p {
  padding: 10px;
  font-size: 14px;
  text-align: center !important;
}

.about-section {
  background-image: url(../assets/about-us.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-header {
  padding: 40px 0;
}
.about-section .about-heading{
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}
.about-description {
  font-size: 16px;
  color: #fff;
}
.about-section .more-about-link {
  background-color: #fff;
  font-size: 16px;
  color: #57899a;
  padding: 18px 15px;
  margin: 30px 0;
  display: inline-block;
  margin-bottom: 0px;
}
.about-img {
  text-align: right;
}
.testimonial-section {
  margin: 50px;
}
.carousel-indicators li.active{
  background-color: #92ad12;
  height: 17px;
  width: 17px;
}
.carousel-indicators li {
  border-color: #92ad12;
  height: 17px;
  width: 17px;
}
.margin-left-right {
  margin-left: 60px;
  margin-right: 60px;
}
.carousel-indicators {
  bottom: -100px;
}
.item {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.testimonial-heading {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.testimonial-paragraph {
  font-size: 16px;
  font-style: italic;

}
.testimonial-img img{
  text-align: center;
  margin: 30px 0;
}
.testimonial-name {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.second-slider .bx-wrapper img {
  max-width: 60%;
}

.second-slider .bx-wrapper {
  width: 100%;
  max-width: inherit !important;
  border: 0px;
  box-shadow: inherit;
}
.second-slider .bx-wrapper .slide{
  width: 262px !important;
  display: flex;
  justify-content: center;
}
.second-slider {
  margin-top: 120px;
}
.bx-wrapper .bx-prev {
  background-image: url(../assets/next.png) !important; 
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  background-image: url(../assets/prev.png) !important; 
  background-position: center;
}
.bx-wrapper .bx-prev:hover {
  opacity: 1;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  opacity: 1;
  background-position: center;
}
.slider4 {
  background-image: url(../assets/slider-bg.png) !important;  
  background-repeat:  repeat;
  height: 200px;
}
.bx-pager.bx-default-pager {
  display: none;
}
footer{
  background: url("footer-bg.png");
  height: 480px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  display: inline-block;
  width: 100%;
  padding: 78px 150px;
  vertical-align: bottom;
  padding-bottom: 0px;
}

.footer .usefull ul li{
  list-style: none;font-size: 16px;
  color: #b1b2b2;
}
.footer .usefull ul li a {
  color: #b1b2b2;
}
.footer .footer-contact ul li {
  list-style: none;
  font-size: 15px;
  color: #b1b2b2;
}
.footer .footer-contact ul li i {
  margin-right: 10px;
  font-size: 18px;
}
.footer .footer-contact ul {
  padding-left: 0px;
}
footer .copyright img {
  width: 100%;
  vertical-align: top;
}
.footer-border {
  border: 1px solid #545454;
  margin-top: 100px;
}
.copyright-border { 
  position: absolute;
  top: 100px; 
  background-color: #545454;  
  width: 80%;
  margin-left: 50%;
  height: 1px;
  left: -39%;
}
.copyright-text{
  color: #b1b2b2;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.social-icons ul li {
  display: inline-block;
  float: left;
  padding: 0 10px;
}
.social-icons ul {
  display: inline-block;
  float: right;
  margin: 6px;
}
.social-icons ul li a i{
  color: #464646;
}

.login {
  float: left;
  width: 22%;
  background-color: #57899a;  
}
.social-icons {
  float: left;
  width: 73%
}

.footer-social-icons ul li a i{
  color: #92ad12;
  font-size: 20px;
}
.logo {
  height: inherit;
  width: 100%;  
}
.logo img {
    max-width: 100%;
}
.footer-social-icons ul li {
  list-style: none;
  float: left;
  padding: 0px 10px;
}
.footer-social-icons ul {
  padding: 0px;
  display: inline-block;
  width: 100%;
  margin: 45px 0px 0px 45px;
}

@media screen and (max-width: 767px) {
  .logo {
    height: inherit;
    width: 100%;
    display: inline-block;
    text-align: center;    
  }
  .logo img {
    display:  inline-block;
  }
  .full-width {
    width: 100%;
  }
  .detail-form .form-bg-color, 
  .property-section ul li:nth-child(3),
  .property-section ul li:nth-child(1)  {
    margin: 0px;
  }
  
  .property-section ul li {
    margin-bottom:  15px !important;
  }

  .property-section ul li {
    width: 100%;
    margin: 0px;
  }
  .banner-images .detail-form {
    position: inherit;
    margin: 20px 0;
  }
  .slider-text {
    top: 20px;
    font-size: 16px;
    padding: 0 10px;
  }
  .form-bg-color {
    margin-left:  0px !important;
    display: inline-block;
    width: 100%;
  }
  .form-bg-color form {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .expensive button, .sort-by button {
    width: 100%;
  }
  .search-property-btn, .second-fields button, .second-fields input {
    width: 100% !important;     
  }
  .property-image img, .about-img img{
    max-width: 100%;
  }
  .margin-left-right {
    margin: 0px;
  }
  .second-slider .bx-wrapper .slide img{
    max-width: 50% !important;
  }
  .footer-logo, .footer-social-icons, .usefull {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .footer-social-icons ul{
    margin-top: 10px;
    display: inline-block;
  }
  footer{
    background-size: cover;
    height: auto;
  }
  .copyright-border {
    top: 6px;
  }
  .copyright-text {
    top: 15px;
    font-size: 12px;    
  }
  .nav > li {
    display: inline-block;width: 100%;
    text-align: center;
  }
  nav .collapse.navbar-collapse.navigation {
    margin-top: 0px;
  }

  .social-icons {
    width: 37%;
  }
  .login {
    width: 63%;
  }

  .social-icons ul {
    padding: 0px;
  } 
  .about-section .about-heading {
    font-size: 25px;
  }
  .footer .footer-contact ul  {
    display: inline-block;
    text-align: center;
  }
  .property-section, .slider-section {
    margin-bottom: 0px;
  }
  .about-section .more-about-link {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .search_result_bg {
    background-position: center center;
    height: 200px;
  }
  .search_result .search_result_bg  p {
    padding-top: 80px;
    font-size: 40px;
  }
  .filter-menu .dropdown {
    padding: 0px;
    margin-bottom: 15px;
  }
  .search_section ul.all-search li {
    width: calc(100%/3) !important;
  }
  .search_form h2{
    font-size: 28px;
  }
  .search_section .search-property-border .property-feature li i {
    margin: 0 8px;
  }
  .search_section .search-property-border {    
    border-left:  none;    
  }
  .footer-social-icons ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  .footer {
    padding: 0px;
  }
  .footer .usefull-link-padding {
    padding-left: 0px;
  }
  .usefull ul {
    padding: 0px;
  }
  .footer-border {
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {  
  .full-width {
    width: 100% !important;
  }
  .form-group label {
    font-size: 12px;
  }

  .search-property-btn {
    font-size: 15px;
  }

  .slider-text {
    font-size: 18px;
    top: 10px;
  }
  .detail-form .form-bg-color {
    margin: 0px !important; 
  }
  .detail-form .form-bg-color .row ,.footer .row{
    margin: 0px;
  }
  .form-bg-color form {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }
  .expensive button, .sort-by button, .second-fields button, .second-fields input {
    width: 100%;
  }
  .property-image img{
    max-width:  100%;
  }
  .property-head {
    font-size: 13px;
  }
  .property-detail {
    min-height: 150px;
  }
  .about-img img {
    max-width: 100%;
  }

  .property-section ul li:nth-child(3) {
    margin-left: 24px;
  }
  .property-section ul li:nth-child(1) {
    margin-right: 23px;
  }
  .second-slider .bx-wrapper .slide {
    width: 700px !important;
  }
  .copyright-border {     
    top: 60px;  
  }

  .copyright-text {
    top: 70px;
  }
  .social-icons{
    width: 50%;
  }
  .login {
    width: 26%;
  }
  /*.search-property .search-img-border {
    height: 308px;
  }*/

  .logo > img {
    display: inline-block;
    width: 100%;
  }
  .expensive span,.sort-by span, .room_select span{
    position: absolute;
    right: 4px;
    top: 15px;
  }
  .second-slider .bx-wrapper img {
    max-width: 60%;
  }
  .search_section ul.all-search li {
    width: calc(100%/3) !important;
  }
  .search_form h2 {
    font-size: 22px;
  }
  .search_section  .search-property-border .property-feature li i {
    margin: 0px;
  }
  .search_section .search-property-border .property-feature li {
    padding: 14px 10px;
  }
  .search_result_bg {
    background-position: -310px -20px;
  }
  .search_result_bg p {
    padding-top: 80px;
  }
  .search-btn {
    width: 100%;
    text-align: center;
  }
  .search-btn button {
    width: 35%;
  }
  nav .collapse.navbar-collapse.navigation {
    float: right;
    margin-top: 0px;
  }
  nav .collapse.navbar-collapse.navigation .col-sm-12, .navbar-collapse{
    padding: 0px;
  }
  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }  
}
.dropdown select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border-radius: 0px; 
}
.dropdown {
  position: relative;
}
.caret {
  position: absolute;
  right: 5px;
  top: 12px;
}
input::-webkit-input-placeholder { /* Chrome */
  color: #505050 !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #505050 !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #505050 !important;
  opacity: 1;
}
input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #505050 !important;
  opacity: 1;
}
.btn-default:active:hover, 
.btn-default.active:hover, 
.open > .dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, 
.btn-default.active:focus, 
.open > .dropdown-toggle.btn-default:focus, 
.btn-default.focus:active, 
.btn-default.active.focus, 
.open > .dropdown-toggle.btn-default.focus {
  background-color: #92ad12 !important;
  color: #fff;
}
/*
===========================================================
search result Css Start here*/
.search-heading p {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 30px;
}
.search_result_bg {
  background-image: url(../assets/banner_img.png);
  height: 290px;  
  margin-top: -5px;
}
.search_result_bg p {
  display: flex;
  justify-content: center;  
  width: 100%;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 120px;
  font-weight: bold; 
}

.search_section {
  margin-top: 30px;
}

.search_section .all-search {
  padding: 0px;
  display: inline-block;
  width: 100%;
}
.search_section ul.all-search li {
  display: inline-block;
  float: left;
  width: calc(100%/4);
  background-color:  #92ad12;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 15px 0;  
}
.search_section ul.all-search li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.search_section ul.all-search li:nth-child(2) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.search_section .dropdown .btn-primary, .search_section .dropdown .btn-primary:hover,
.search_section .dropdown .btn-primary:focus, .search_section .dropdown .btn-primary:active  {
  background-color: inherit;
  color: #000;
  width: 100%;
  border-radius: 0;
  border: 1px solid #ddd;
  text-align: left;
  padding: 15px 10px;
}
.search_section .dropdown .dropdown-menu {
  width: 100%;
}
.search_section .filter-menu {
  padding: 0;
}
.search_section .dropdown .btn-primary .caret {
  right: 22px;
  top: 22px;
}

.search_section .dropdown {
  padding-right: 0px;
}

.search-property {
  display: inline-block;
}
.search-property-img {
  position: relative;  
}
/*.search-img-border {
  border: 1px solid #ddd;
  border-right: 0px;
  height: 312px;
}*/
.search-property-img .property-status {
  position: absolute;
  top: 20px;
  right: 9px;
  font-size: 14px;
  background-color: #fabc4b;
  border-radius: 20px;
  color: #fff;
  width: 52px;
  text-align: center;
  padding: 2px 0;
  text-transform: uppercase;
}

.search-property-img .property-price {
  position: absolute;
  bottom: 16px;
  right: 0;
  font-size: 25px;
  background-color: rgba(142, 210, 99, 0.8);
  color: #fff;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 10px;
}
.search-property .col-md-6.col-xs-12.col-sm-6{
  padding: 0px;
}

.search-property-content {
  display: inline-block;  
  padding: 11px;
}
.search-property-img img {
  width: 100%;
}
.search-property-content h3 {
  margin-top: 0px;
}
.search-property-border ul {
  padding: 0px;
}
.search-property-border ul li {
  display: inline-block;
  float: left;
  width: calc(100%/4);
}
.search-property-content .address, 
.search-property-content .content {
  margin-bottom: 0px;
}
.search-property-content .address i {
  color: #92ab12;
  margin: 0px 10px;
}
.search-property-border .property-feature li i{
  color: #ddd;
  margin: 0 10px; 
}
.search-property-border .property-feature li {
  border: 1px solid #ddd;
  border-bottom: 0;
  border-left: 0;
  padding: 16px 10px;
  font-size: 15px;
  color: #e9ebeb;
}

.search-property-border {
  border-left: 1px solid #ddd;
  display: inline-block;  
}
.search-property {
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.search-form-bgcolor {
  background-color: #f6f5f1;
  display: inline-block;  
  padding-bottom: 20px;
}
.all-search-div {
  padding: 0px;
}
.collapse.navbar-collapse.navigation {
  float: right;
  margin-top: -40px;
}
.search_form label {
  color: #000;
}
.login .col-md-6 {
  padding: 6px 0 ;  
  text-align: center;
}
.login .col-md-6 a {
  color: #fff;
  font-size: 15px;
}

.login .col-md-6:nth-child(2) {
  background-color: #92ab12;
}

.content {  
  overflow: hidden;  
  text-overflow: ellipsis;
  width: 100%;
}

/* Property details*/

.row-margin{
  margin: 0;
}
.pd-none{
  padding: 0 !important;
}
.pd-left{
  padding-left: 0 !important;
}
.pd-right{
  padding-right: 0 !important;
}
.header-bg img{
  width: 100%;
  margin-top: -4px;
}
.property-heading h2{
  color: #474747;
  font-size: 38px;
}
.property-details h2{
  font-size: 25px;
}
.address span, .status{
  color: #888;
  font-size: 16px;
}
.address .glyphicon.glyphicon-home{
  color: #98b414;
  margin-right: 10px;
}
.address .map{
  margin-right: 10px;
  margin-left: 20px;
  color: #98b414;
  font-size: 16px;
}
.status .glyphicon.glyphicon-ok-sign{
  color: #97b310;
  margin-left: 10px;
}
.property-add{
  display: inline-block;
  width: 100%;
}
/* Slider css */
.slider img{
  width: 100%;
}
.slider .carousel-indicators{
  position: unset;
  margin-left: 0;
  left: 0;
  width: 100%;
  text-align: left;
}
.slider .carousel-indicators li{
  border: 1px solid #000;
}
.slider .carousel-indicators .active{
  background: red;
}
.property-info{
  width: 100%;
  display: inline-block;
}
.property-info h3{
  font-size: 16px;
  position: relative;
}
.property-info h3:after{
  content: "";
  border: 1px solid #8da50f;
  position: absolute;
  width: 72%;
  bottom: 0;
  left: 210px;
}
.info{
  color: #888;
  border: 1px solid #e3e3e3;
  padding: 10px;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}
.info span:first-child{
  float: left;
}
.info span:last-child{
  float: right;
}
.remarks h3{
  font-size: 16px;
  position: relative;
}
.remarks{
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}
.remarks p{
  color: #888;
}
.remarks h3:after{
  content: "";
  border: 1px solid #8da50f;
  position: absolute;
  width: 88%;
  bottom: 0;
  left: 90px;
}

/* form */

.enquiry-form{
  background: #f6f5f1;
  padding: 10px 20px;
  margin-top: 20px;
}
.enquiry-form .form-control{
  height: 40px;
  border-radius: 0;
}
.enquiry-form label{
  color: #7f7e7c;
}
.enquiry-form .checkbox{
  margin-top: 20px;
  margin-bottom: 20px;
}
.send-btn{
  background: #829b0c;
  text-align: center;
  border-radius: 4px;
  padding: 15px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.send-btn a{
  color: #fff;
  font-size: 18px;
}
.send-btn a:hover{
  color: #fff;
  text-decoration: none;
}

/* Tabs */
.property-feature{
  margin-top: 30px;
}
.property-details .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background: #8ca60f;
  border: 0;
  color: #fff;
  border-radius: 0;
}
.property-details .nav-tabs > li{
  background: #e3e3e3;
  margin-left: 2px;
}
.property-details .nav-tabs > li:first-child{
  margin-left: 0;
}
.property-details .nav-tabs > li a{
  color: #000;
  padding: 10px 17px;
}
.property-details .nav-tabs{
  border-bottom: 0;
}
.property-details .features{
  background: #f8f8f8;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.property-details .tab-content{
  border-top: 0;
  border: 1px solid #e3e3e3;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 727px;
}
.features > span{
  font-weight: lighter;
  letter-spacing: 1px;
}

.additional h3{
  font-size: 16px;
  position: relative;
}
.additional{
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}
.additional h3:after{
  content: "";
  border: 1px solid #8da50f;
  position: absolute;
  width: 85%;
  bottom: 0;
  left: 108px;
}
.additional .glyphicon.glyphicon-ok{
  color: #8da710;
  margin-right: 10px;
}
.additional-info {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.additional-info p{
  margin-top: 15px;
  letter-spacing: 1px;
  font-weight: lighter;
}

/* Responsive Css */

@media(min-width: 768px) and (max-width: 1200px){
  .property-details h2{
    font-size: 18px;
  }
  .address span, .status{
    font-size: 12px;
  }
  .info{
    font-size: 12px;
  }
  .property-details .nav-tabs > li a{
    padding: 10px 30px;
  }
}

@media(min-width: 768px) and (max-width: 1200px) and (orientation: portrait){
  .property-info h3::after{
    width: 54%;
  }
  .remarks h3::after{
    width: 79%;
  }
  .additional h3::after{
    width: 76%;
  }
}

@media(min-width: 768px) and (max-width: 1200px) and (orientation: landscape){
  .property-info h3::after{
    width: 66%;
  }
  .remarks h3::after{
    width: 85%;
  }
  .additional h3::after{
    width: 81%;
  }
}

@media(max-width: 767px){
  .property-details h2{
    font-size: 15px;
    margin-top: 0;
  }
  .property-info h3::after, .remarks h3::after, .additional h3::after{
    border: 0;
  }
  .mob-pad{
    padding: 0 !important;
  }
  .property-details .nav-tabs > li{
    margin-top: 10px;
  }
  .property-details .tab-content {
    width: 100%;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-item: center;
  width: 100%;
}

.pagination > li > a, .pagination > li > span {
  border-radius: 0 !important;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pagination > li > a, .pagination > li > span {  
  font-size: 22px;
  height: 50px;
  margin-left: 0;
  margin-right: 15px;
  width: 50px;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  background-color: #92ab12;
  border-color: #92ab12;
  border-radius: 0;
  color: #ffffff;
  cursor: default;
  z-index: 3;
}

.pagination .last a , .pagination .first a {
  display: none;
}

.green-check{
  color: #8ca60f !important;
}

.usefull-link-padding {
  padding-left: 50px; 
}

.status-check-bg{
  background: #8ca60f;
  color: white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.address {
  padding: 3px;
}
#ui-id-1 {
  padding: 0px;
}
.ui-menu-item {
  z-index: 999;
  padding: 10px;
  background-color: #fff;
  width: 333px;
  background: #e6e6e6;
  cursor: pointer;
}

.property-images{
  cursor: pointer;
  margin-top: 15px;
}
.property-images img{
  width: 100%;
}
.property-images .col-md-2{
  margin-right: 14.9px;
  padding: 0;
  width: 15%;
}
.property-images .col-md-2:last-child{
  margin-right: 0;
}
.full-width .breadcrumb-custom{
  margin-top: -19px;
  margin-bottom: 20px;
}
.container .breadcrumb-custom{
  margin-top: 17px;
  margin-bottom: 20px;
}