html body{
	font-family: 'Lato', sans-serif;
}
header {
	display: inline-block;
	width: 100%;
	margin-top: 15px;
}
.full-width {
	width: 1170px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.navigation ul li.active a{
	color: #97b313 !important;
	background-color: inherit !important;
}
.nav.navbar-nav {
	display: inline-block;
	float: right;
}
.navigation ul li  a {
	font-size: 18px;
	position: relative;
}
.navigation ul li.active  a::before {
	position: absolute;background:#97b313;
	height: 5px;
	width: 50px;
	bottom: 0;
	content: "";
}
.navbar-default {
	border: none;
	background-color: inherit;
}
.navbar {
	position: inherit;
	min-height: inherit;
	margin-bottom: 0px;

}
.banner-images {
	position: relative;
	margin-top: -5px;
}
.banner-images img {
	width: 100%;
}
.login .fa-user {
	margin-right: 10px;
}
.slider-text {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 70px;	
	font-size: 42px;
	color: #fff;
	left: 0px;	
	padding: 0px 110px;
	font-weight: bold;

}
.banner-images .detail-form {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%
}
.form-margin {
	display: flex;
  justify-content: center;
}


.detail-form .form-bg-color{
	background: rgba(3,13,16,0.8);
	display: inline-block;	
	width: 100%;
	margin: 0 111px;
}
.form-group label {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
}
.form-bg-color form{
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
}
.form-bg-color .form-heading {	 
	background-image: url(../assets/bg-img.png);
	background-position: left top;
	background-repeat: no-repeat;
}
.form-bg-color .form-heading p {
	font-size: 16px;
  padding: 0 15px;
  font-weight: bold;
  color: #fff;
  height: 45px;
  padding-top: 10px;

}
.expensive button, .sort-by button {
	width: 337px;
	text-align: left;
}
.form-group button, .form-group input {
	background-color: #e6e6e6;
	border-radius: 0px;
}
.form-group input {
	border: 0px;
}

.second-fields button, .second-fields input {
	width: 100%;
}
.search-property-btn {	
    padding: 17px 10px;    
    border: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #92ad12;
    border-radius: 0px;
}
.search-property-btn:hover, .search-property-btn:focus, .search-property-btn:active, .btn-default:active  {
	background-color: #92ad12;
	color: #fff;
}
.slider-section, .property-section {
	margin-bottom: 80px;
}

.property-section ul  {
	display: inline-block;
	width: 100%;
	padding-left: 0px;
}

.property-section ul li {

	display: inline-block;
	float: left;
	width: 29%;
	margin: 0 24px;
}

.property-section ul li:nth-child(1) {
	margin-left: 0px;
	margin-right: 47px;
}

.property-section ul li:nth-child(3) {
	margin-right: 0px;
	margin-left: 47px;
}

.property-image img {
	max-width: 100%;
}

.property-image {
	position: relative;
}
.property-head {
	position: absolute;
	bottom: 0px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	background-color: rgba(146, 173,18, 0.7);
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 10px;
	margin-bottom: 0px;	
}
.property-detail  {
	border: 1px solid #a8a8a8;
	border-top: 0px;
	min-height: 130px;
}
.property-detail p {
	padding: 10px;
	font-size: 14px;
}

.about-section {
	background-image: url(../assets/about-us.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.about-header {
	padding: 40px 0;
}
.about-section .about-heading{
	font-size: 28px;
	color: #fff;
	font-weight: bold;
}
.about-description {
	font-size: 16px;
	color: #fff;
}
.about-section .more-about-link {
	background-color: #fff;
	font-size: 16px;
	color: #57899a;
	padding: 18px 15px;
	margin: 30px 0;
	display: inline-block;
	margin-bottom: 0px;
}
.about-img {
	text-align: right;
}
.testimonial-section {
	margin: 50px;
}
.carousel-indicators li.active{
	background-color: #92ad12;
	height: 17px;
	width: 17px;
}
.carousel-indicators li {
	border-color: #92ad12;
	height: 17px;
	width: 17px;
}
.margin-left-right {
	margin-left: 60px;
	margin-right: 60px;
}
.carousel-indicators {
	bottom: -100px;
}
.item {
	text-align: center;
	display: inline-block;
	width: 100%;
}
.testimonial-heading {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.testimonial-paragraph {
	font-size: 16px;
	font-style: italic;

}
.testimonial-img img{
	text-align: center;
	margin: 30px 0;
}
.testimonial-name {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.second-slider .bx-wrapper img {
	max-width: 60%;
}

.second-slider .bx-wrapper {
	width: 100%;
	max-width: inherit !important;
	border: 0px;
	box-shadow: inherit;
}
.second-slider .bx-wrapper .slide{
	width: 262px !important;
	display: flex;
	justify-content: center;
}
.second-slider {
	margin-top: 120px;
}
.bx-wrapper .bx-prev {
	background-image: url(../assets/next.png) !important;	
	background-position: 0 0;
}
.bx-wrapper .bx-next {
	background-image: url(../assets/prev.png) !important;	
	background-position: center;
}
.bx-wrapper .bx-prev:hover {
	opacity: 1;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
	opacity: 1;
	background-position: center;
}
.slider4 {
	background-image: url(../assets/slider-bg.png) !important;	
	background-repeat:  repeat;
	height: 200px;
}
.bx-pager.bx-default-pager {
	display: none;
}
.footer {
	background-color: #1c252c;
	display: inline-block;
	width: 100%;
	padding: 50px 0;
	vertical-align: bottom;
	padding-bottom: 0px;
}

.footer .usefull-link ul {
	padding: 0px;
}

.footer .usefull-link ul li{
	list-style: none;font-size: 16px;
	color: #b1b2b2;
}
.footer .usefull-link ul li a {
	color: #b1b2b2;
}
.footer .footer-contact ul li {
	list-style: none;
	font-size: 15px;
	color: #b1b2b2;
}
.footer .footer-contact ul li i {
	margin-right: 10px;
	font-size: 18px;
}
.footer .footer-contact ul {
	padding-left: 0px;
}
footer .copyright img {
	width: 100%;
	vertical-align: top;
}
.copyright {
	position: relative;
}
.copyright-border {	
	position: absolute;
	top: 100px;	
	border: 1px solid #545454;
	left: 60px;
	width: 1210px;
}
.copyright-text{
	color: #b1b2b2;
	position: absolute;
	display: flex;
	top: 150px;
	justify-content: center;
	font-size: 16px;
	width: 100%;
}
.social-icons ul li {
	display: inline-block;
	float: left;
	padding: 0 10px;
}
.social-icons ul {
	display: inline-block;
	float: right;
}
.social-icons ul li a i{
	color: #464646;
}
.login ul{
	background-color: #57899a;
	display: inline-block;
	width: 86%;
	padding: 0;
	float: right;
}

.login ul li a {
	color: #fff;
}
.login {
	float: left;
	width: 27%;
}
.social-icons {
	float: left;
	width: 73%
}
.login ul li{
	display: inline-block;
	float: left;padding: 5px 10px;
}
.login ul li:nth-child(2) {
	background-color: #92ad12;
	display: inline-block;
}
.footer-social-icons ul li a i{
	color: #92ad12;
	font-size: 20px;
}
.navbar-brand {
	height: inherit;
	width: 100%;
}
.navbar-brand img {
		max-width: 100%;
}
.footer-social-icons ul li {
	list-style: none;
	float: left;
	padding: 0px 20px;
}
.footer-social-icons ul {
	padding: 0px;
}

@media screen and (max-width: 767px) {
	.full-width {
		width: 100%;
	}
	.detail-form .form-bg-color, 
	.property-section ul li:nth-child(3),
	.property-section ul li:nth-child(1)  {
		margin: 0px;
	}
	
	.property-section ul li {
		margin-bottom:  15px !important;
	}

	.property-section ul li {
		width: 100%;
		margin: 0px;
	}
	.banner-images .detail-form {
		position: inherit;
		margin: 20px 0;
	}
	.slider-text {
		top: 20px;
		font-size: 16px;
		padding: 0 10px;
	}
	.form-bg-color {
		margin-left:  0px !important;
		display: inline-block;
		width: 100%;
	}
	.form-bg-color form {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 10px;
	}
	.expensive button, .sort-by button {
		width: 100%;
	}
	.search-property-btn, .second-fields button, .second-fields input {
		width: 100% !important; 
		text-align: left;
	}
	.property-image img, .about-img img{
		max-width: 100%;
	}
	.margin-left-right {
		margin: 0px;
	}
	.second-slider .bx-wrapper .slide img{
		max-width: 50% !important;
	}
	.footer-logo, .footer-social-icons, .usefull-link {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.footer-social-icons ul{
		margin-top: 10px;
		display: inline-block;
	}
	.copyright-border {
		left: 3px;
		top: -30px;
		width: 280px;
	}
	.copyright-text {
		top: 15px;
		font-size: 13px;
	}
	.nav > li {
		display: inline-block;width: 100%;
		text-align: center;
	}
	.social-icons, .login {
		display: inline-block;
		width: 100%;

	}
	.social-icons ul , .login ul {
		padding: 0px;
	}	
	.about-section .about-heading {
		font-size: 25px;
	}
	.footer .footer-contact ul  {
		display: inline-block;
		text-align: center;
	}
	.property-section, .slider-section {
		margin-bottom: 0px;
	}
	.about-section .more-about-link {
		margin-top: 0px;
		margin-bottom: 20px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
	.full-width {
		width: 100% !important;
	}
	.form-group label {
		font-size: 12px;
	}

	.search-property-btn {
		font-size: 15px;
	}

	.slider-text {
		font-size: 18px;
		top: 10px;
	}
	.detail-form .form-bg-color {
		margin: 0px !important; 
	}
	.detail-form .form-bg-color .row ,.footer .row{
		margin: 0px;
	}
	.form-bg-color form {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 15px;
	}
	.expensive button, .sort-by button, .second-fields button, .second-fields input {
		width: 100%;
	}
	.property-image img{
		max-width:  100%;
	}
	.property-head {
		font-size: 13px;
	}
	.property-detail {
		min-height: 150px;
	}
	.about-img img {
		max-width: 100%;
	}

	.property-section ul li:nth-child(3) {
		margin-left: 24px;
	}
	.property-section ul li:nth-child(1) {
		margin-right: 23px;
	}
	.second-slider .bx-wrapper .slide {
		width: 700px !important;
	}
	.copyright-border {	    
    top: 0;	   
    left: 9px;    
    width: 710px !important;
	}

	.copyright-text {
		top: 70px;
	}
	.social-icons{
		width: 54%;
	}
	.login {
		width: 46%;
	}
	.login ul {
		width: 81%;
	}
	.navbar-brand > img {
		display: inline-block;
		width: 100%;
	}
	.expensive span,.sort-by span, .room_select span{
		position: absolute;
	  right: 4px;
	  top: 15px;
	}
	.second-slider .bx-wrapper img {
		max-width: 60%;
	}
}
.dropdown select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border-radius: 0px; 
}
.dropdown {
	position: relative;
}
.caret {
	position: absolute;
	right: 5px;
	top: 12px;
}
input::-webkit-input-placeholder { /* Chrome */
  color: #505050 !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #505050 !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #505050 !important;
  opacity: 1;
}
input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #505050 !important;
  opacity: 1;
}