<footer>
  <div class="footer">
    <div class="full-width">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4 footer-logo">
          <img src="/assets/footer-logo.png" alt="footer_logo">

          <!-- Social Link -->
          <div class="footer-social-icons">
              <ul>
                <li>
                  <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
        </div>

        <!-- support links  -->
        <div class="col-md-4 col-xs-12 col-sm-4 usefull-link">
          <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6">
              <ul>
                <li><a href="#">Buyer</a></li>
                <li><a href="#">Seller</a></li>
                <li><a href="#">How it work</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
              <ul>
                <li><a href="#">Search</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- address section-->
        <div class="col-md-4 col-xs-12 col-sm-4 footer-contact">
          <ul>
            <li>
              <i class="fa fa-home"></i>
              Address: 845 Clermont St, Denver, CO 80220 
            </li>
            <li><i class="fa fa-phone"></i>Phone: 720-999-1234</li>
            <li><i class="fa fa-envelope"></i>Email: hello@brokerfreere.com</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="copyright container">
    <div class="footer-border"></div>
    <p class="copyright-text">
      Copyright 2017 | BrokerFree RE | All rights reserved
    </p>
  </div>
</footer>